html {
    font-family: 'Avenir', Helvetica, Arial, 'system-ui', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

main {
    padding: 0 10px;
    width: 100%;
    height: 100%;
}

.sheet-title {
    margin-left: 20px;
}

.deadline {
    margin: 0 0 20px 20px;
    color: red;
    font-weight: bold;

}

.all-task{
    margin-left: 20px;
}

.list-index {
    display: flex;
    -webkit-flex-wrap: wrap;          /* Safari etc. */
    -ms-flex-wrap    : wrap;          /* IE10        */
    flex-wrap        : wrap;
}

.addlist {
    margin: 10px 10px auto;
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    min-width: 310px;
    width: 310px;
}

.text-input {
    padding: 20px 15px;
    width: calc(100% - 30px);
    background-color: #ccc;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-family: "Noto Sans Japanese", "Noto Sans", 'system-ui', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #242424;
    cursor: pointer;
    overflow: overlay;
}

.text-input:focus {
    outline: 0;
    cursor: initial;
}

.add-button {
    margin-top: 15px;
    padding: 15px 18px;
    background-color: #999;
    border: none;
    border-radius: 8px;
    font-family: "Noto Sans Japanese", "Noto Sans", 'system-ui', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.add-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.active .text-input {
    background-color: lightblue;
}
.addable .add-button {
    background-color: #00d78f;
    pointer-events: auto;
    cursor: pointer;
}

.add-button:active {
    background-color: #00d78f;
}

.list {
    margin: 5px 5px auto;
    position: relative;
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    min-width: 290px;
    width: 290px;
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    border: solid #ddd 1px;
    color: gray;
    vertical-align: top;
}

.listheader {
    width: 290px;
    display: inline-flex;
    justify-content: space-between;
}

.list-title {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

.list-count {
    color: rgb(0, 140, 255);
    padding: 30px;
}

.deletelist {
    position: absolute;
    top: 6px;
    right: 14px;
    font-size: 28px;
}

.deletelist:hover {
    opacity: 0.8;
    cursor: pointer;
}

.task-card {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    padding: 30px 15px 40px;
    background-color: #fff;
    border-radius: 8px;
    width: 260px;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 8px;
    border-color: red;
    border-style: solid;
    background-color: red;
    color: white;
    margin: 5px;
}

.body {
    font-size: 18px;
    width: 100%;
    word-wrap: break-word;
}
